*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#root{
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Arial, Helvetica, sans-serif;
}
.app{
    background-color: rgb(246, 246, 246);
    height: 95%;
    width: 90%;
    display: flex;
    flex-direction: row;
}

aside{
    width: 40%;
    background-color: rgb(220, 220, 219);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: scroll;
}

section{
    width: 60%;
}

.search{
    width: 100%;
    padding: .5em;
    border: none;
    border-radius: 10px;
    outline: none;
}
ul{
    display: flex;
    flex-direction: column;
}
ul li{
    width: 100%;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    transition: border-left .2s;
    border-left: 2px solid transparent;
    border-bottom: 0.5px solid rgb(121, 121, 121);
}
ul li:hover{
    border-left: 2px solid rgb(121, 121, 121);
    opacity: .7;
}
.container-img-chat{
    width: 70px;
    height: 60px;
    border-radius: 50%;
    padding: 5px;
}
.container-img-chat img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.container-descripcion-chat{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: .2em;
}
li h3{
    font-size: 16px;
    font-weight: 500;
}
small{
    color: rgba(0, 0, 0, 0.388);
}

.container-chat{
    display: grid;
    grid-template-rows: 80px 1fr 60px;
}
.header-chat-panel{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: .4px solid rgb(79, 79, 79);
}
.header-chat-panel p{
    color: rgb(148, 148, 148);;
}
.chat-body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
    padding: 10px 20px 20px 20px
}
.dayMesagge{
    background-color: rgb(115, 119, 119);
    width: 50px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    color: rgb(223, 224, 224);
    align-self: center;
    position:sticky;
}
.me{
    background-color: rgb(176, 246, 185);
    align-self: flex-end;
}
.you{
    background-color: rgb(234, 235, 237);
    align-self: flex-start;
}

.time{
    color: rgb(148, 148, 148);
    align-self: flex-end;
    font-size: 14px;
}

.message{
    padding: 10px;
    max-width: 80%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    border: .5px solid rgb(174, 172, 172);
}

.text-message{
    overflow-wrap:break-word;
}

textarea{
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    border-radius: 20px;
    border: .5px solid rgb(174, 172, 172);
}
.sendMessage{
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 40px;
    grid-template-rows: 1fr;
    gap: 5px;
}
.button-send-message{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: .5px solid rgb(174, 172, 172);
}
.button-send-message svg{
    width: 20px;
    height: 20px;
}